.container{
    height: auto;
    width: 70%;
    margin: 0 auto;
    border: 1px solid lightblue;
}

ul li{    
    margin-left: 40px;
    list-style-type: none;
}
ul li a{
    text-decoration: none;
}